<launch>
    <node name="joy" pkg="joy" type="joy_node" output="screen">
        <param name="autorepeat_rate" value="10"/>
        <param name="deadzone" value="0.1"/>
    </node>

    <node name="teleop_twist_joy" pkg="teleop_twist_joy" type="teleop_node" output="screen">
        <param name="enable_button" value="5"/>
        <param name="enable_turbo_button" value="4"/>

        <param name="axis_linear" value="4"/>
        <param name="scale_linear" value="0.5"/>
        <param name="scale_linear_turbo" value="1.0"/>

        <param name="axis_angular" value="0"/>
        <param name="scale_angular" value="2.0"/>

        <remap from="cmd_vel" to="/cmd_vel"/>
    </node>
</launch>
