<launch>
    <rosparam command="load" file="$(find robomagellan_bringup)/config/localization.yaml"/>

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_local" respawn="true" >
        <remap from="odometry/filtered" to="odometry/local/filtered"/>
    </node>

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_global" respawn="true" >
        <remap from="odometry/filtered" to="odometry/global/filtered"/>
    </node>

    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" respawn="true">
        <remap from="/gps/fix" to="/fix" />
        <remap from="/odometry/filtered" to="/odometry/global/filtered" />
    </node>
</launch>