<launch>
    <include file="$(find robomagellan_hardware_interface)/launch/robomagellan_velocity_controllers.launch"/>
    <include file="$(find robomagellan_bringup)/launch/camera.launch" />
    <include file="$(find robomagellan_bringup)/launch/gps.launch" />
    <node name="laptop_battery_monitor" pkg="laptop_battery_monitor" type="laptop_battery.py" />
</launch>