<launch>
    <rosparam file="$(find robomagellan_hardware_interface)/config/hardware.yaml" command="load"/>
    <rosparam file="$(find robomagellan_hardware_interface)/config/controllers.yaml" command="load"/>
    <rosparam file="$(find robomagellan_hardware_interface)/config/joint_limits.yaml" command="load"/>
    <rosparam file="$(find robomagellan_hardware_interface)/config/diff_drive_controller.yaml" command="load"/>

    <node name="robomagellan_hardware_interface" pkg="robomagellan_hardware_interface" type="node" output="screen"/>

    <node name="diff_controller_spawner"  pkg="controller_manager"  type="spawner"  output="screen"  args="diff_drive_controller" />

    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/"
          args="/robomagellan/controller/state"/>
</launch>